extends layouts/main/template

block content
  h1 Accounts
  div.content__column
    a(href=`${viewsUrl}/account-a/index.html?conversations`) testa@mail.com
    a(href=`${viewsUrl}/account-b/index.html?conversations`) testb@mail.com
    a(href=`${viewsUrl}/account-c/index.html?conversations`) testc@mail.com

block body