header.header
  img(src="https://xnf-demo.updemo.site/styles/default/xenforo/xenforo-logo.png" alt="logo").header__logo
  nav.header__nav
    a(
      href="#"
      data-id="xen-chat-popup"
      data-token="Cb53Xbk-15ikSWB-Lo72K7m0vK2YmIsn"
      title="Open popup for testa@mail.com account"
    ).header__nav-link.xf-open-trigger
      img(src="/assets/icons/message.png" alt="Message").header__nav-icon
